.breathHead {
    display: flex;
    justify-content: center;
}

.gif {
    display: flex;
    flex-wrap: wrap;
    
}

* {
    border: solid .25em blanchedalmond;
    background-color: blueviolet;
    
}