@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');


.breathHead {
    display: flex;
    justify-content: right;
    color: darkorchid;
    padding: 5rem;
    text-decoration: line-through;
    font-family: 'Babylonica', cursive;
    font-size: xx-large;
}

.gifContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
     
}

.gifImage {
    width: 20rem;
    
}

* {
    border: solid .25em blanchedalmond;
    background-color: blueviolet;
    
}