@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');


.breathHead {
    display: flex;
    justify-content: right;
    color: darkorchid;
    padding: 5rem;
    text-decoration: line-through;
    font-family: 'Babylonica', cursive;
    font-size: xx-large;
}

.gifContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 30%;
   
    justify-content: center;
     
}

.gifImage {
    width: 20rem;
    
}

* {
    border: solid .25em blanchedalmond;
    background-color: blueviolet;
    
}


/* css for hovertext */
.example {
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  .content {
    opacity: 0;
    font-size: 2em;
    position: absolute;
    top: 0;
    left: 0;
    color: #1c87c9;
    background-color: rgba(27, 240, 38, 0.918);
    width: 300px;
    height: 300px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
  }
  
  .example .content:hover {
    opacity: 5;
  }
  
  .example .content .text {
    /* height: 0; */
    opacity: 5;
    transition-delay: 0s;
    transition-duration: 0.4s;
  }
  
  .example .content:hover .text {
    opacity: 1;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
  }